<% for(var i = 0; i < fundLayout.length; i++) { %>
    <% var row = fundLayout[i] %>
        <div class="row index-row index-row-<%= i %>">
            <% if(row.type === 'panel') { %>
                <% for(var j = 0; j < row.columns.length; j++) { %>
                    <% if(row.columns[j].entitlement && user.entitlement.indexOf(row.columns[j].entitlement) < 0) {continue}%>
                        <% if(userOptions.isMobile && row.columns[j].mobile === false) {continue} %>
                            <div class="<%= row.columns[j].class %>">
                                <%- include('', { realPath: row.columns[j].path }) %>
                            </div>
                            <% } %>
                                <% } else if(row.type === 'tab') { %>
                                    <div class="<%= row.class %>">
                                        <div class="nav-tabs-custom">
                                            <ul class="nav nav-tabs">
                                                <% for(var k = 0; k < row.columns.length; k++) { %>
                                                <% if(row.columns[k].entitlement && user.entitlement.indexOf(row.columns[k].entitlement) < 0) {continue}%>
                                                <% if(userOptions.isMobile && row.columns[k].mobile === false) {continue} %>
                                                <% if(k === 0) { %>
                                                <li class="active">
                                                <% } else { %>
                                                <li>
                                                    <% } %>
                                                        <a href="#tab_<%= k %>" data-toggle="tab">
                                                            <span data-i18n="<%= row.columns[k].i18n || ('tabs_' + row.columns[k].name) %>"></span>
                                                            <span class="tab-notice-num" id="tab-<%= row.columns[k].id || row.columns[k].name%>"></span>
                                                        </a>
                                                </li>
                                                <% } %>
                                                <div id="print-buttons-container" class="pull-right"></div>
                                            </ul>
                                            <div class="tab-content">
                                                <% for(var n = 0; n < row.columns.length; n++) { %>
                                                <% if(row.columns[n].entitlement && user.entitlement.indexOf(row.columns[n].entitlement) < 0) {continue}%>
                                                <% if(userOptions.isMobile && row.columns[n].mobile === false) {continue} %>
                                                <% if(n === 0) { %>
                                                <div class="tab-pane active" id="tab_<%= n %>">
                                                    <% } else { %>
                                                        <div class="tab-pane" id="tab_<%= n %>">
                                                            <% } %>
                                                                <%- include('', { realPath: row.columns[n].path }) %>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                        <% } %>

<script>
    $(function () {
        initialize(function () {
            seajs.use(["format", "socket-v2", "datatables", "mobile", 'fund-trade-v2', 'price-quote', 'portfolio', 'fundbook'], function (format, socket, datatables, mobile, fundtrade, pricequote, portfolio, fundbook) {
                socket.init()
                mobile.init()
                fundtrade.init($('#fund-accordion'))
                // pricequote.init($('#price-quote-panel'))
                portfolio.init($('#portfolio-panel'), { defaultMarket: 'FUND', schema: initial_data.views.full_trade.fund.schema, disableTooltip:true })
                fundbook.init($('#fund-book-panel'), initial_data.views.trade.fund_book)

            var account_balance_section = initial_data.views.trade.accocunt_balance
                if (account_balance_section && account_balance_section.mainSchema && account_balance_section.mainSchema.length >= 0) {
                    seajs.use("account-balance2", function (ab) {
                        ab.init($('#account-balance-panel'), initial_data.views.trade.account_balance, AccountMgr, CurrencyMgr)
                    })
                } else {
                    seajs.use("account-balance", function (ab) {
                        ab.init($('#account-balance-panel'), initial_data.views.trade.account_balance, AccountMgr, CurrencyMgr)
                    })
                }
            })
        })
    })

</script>